.banner{
    background-image: url("../imagens/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--branco);
    height: 28vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: .5rem;
}

.banner__titulo{
    font-size: var(--fonte-titulo);
    font-weight: var(--fonte-forca-titulo);
}

.banner__paragrafo{
    font-size: var(--fonte-texto);
    font-weight: var(--fonte-forca-botao);
}

.banner__btn{
    background-color: var(--azul-padrao);
    color:var(--branco);
    border:none;
    width: 40%;
    max-width: 200px;
    height: 40px;
    font-weight: var(--fonte-forca-botao);
}

@media screen and (min-width:768px){
    .banner{
        row-gap: 1rem;
        height: 39vh;
    }
    
}

@media screen and (min-width:1024px){
    .banner{
        height: 50vh;
    }
    .banner__btn{
        height: 50px;
        font-size: var(--fonte-texto);
        max-width: 250px;
    }
}
