:root{
    --fonte-padrao:'Raleway', sans-serif;
    --fonte-titulo: 1.5rem;
    --fonte-texto: .9rem;
    --fonte-valor: 1rem;
    --fonte-forca-titulo: 700;
    --fonte-forca-botao:500;
    --fonte-forca-texto:400;
    --fonte-cinza-padrao:#464646;    
    --azul-padrao: #2A7AE4;
    --branco: white;
    
    font-family: var(--fonte-padrao);
    color:var(--fonte-cinza-padrao);
}

.container{
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    
}

@media screen and (min-width:768px){
    :root{
        --fonte-titulo: 3rem;
        --fonte-texto:1.37rem;
        --fonte-valor: 1.5rem;
    }


    .container{
        padding: 2rem;
    }

}

