:root{
    --fonte-padrao:'Raleway', sans-serif;
    --fonte-titulo: 1.5rem;
    --fonte-texto: .9rem;
    --fonte-forca-titulo: 700;
    --fonte-forca-botao:500;
    --fonte-forca-texto:400;
    --fonte-cinza-padrao:#464646;    
    --azul-padrao: #2A7AE4;
    --branco: white;
    
    font-family: var(--fonte-padrao);
    color:var(--fonte-cinza-padrao);
}

.container{
    width: 100%;
    padding: 1rem 1rem;
    box-sizing: border-box;
    
}

