.cabecalho__nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: .5rem;
}
/*link*/
.nav__logo{
    width: 35%;
    max-width:200px ;
}

.logo__img{
    width: 100%;
}

.nav__btn_login{
    width: 40%;
    max-width: 166px;
    height: 40px;
    background-color: var(--branco);
    border:1px solid var(--azul-padrao);
    color:var(--azul-padrao);
    font-weight: var(--fonte-forca-botao);
}

.btn__login_link{
    color:var(--azul-padrao);
    text-decoration: none;
}

.nav__pesquisa{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 20px;
    height: 40px;
    width: 100%;
}

.pesquisa__input{
    display: inline-block;
    border: none;
    background-color: #F5F5F5;
    width: 75%;
    height: 30px;
    outline: none;
}

.pesquisa__lupa{
    cursor: pointer;
}


@media screen and (min-width:768px){
    .nav__btn_login{
        order: 1;
    }

    .pesquisa__input{
        display: inline-block;
        border: none;
        background-color: #F5F5F5;
        width: 75%;
        height: 30px;
        
    }
    .nav__pesquisa{
        max-width: 315px;
    }
}

@media screen and (min-width:1024px){
    .nav__logo{
        margin-right: 2rem;
        max-width: 250px;
    }

    .nav__pesquisa{
        margin-right: auto;
        max-width: 400px;
        height: 50px;
    }

    .nav__btn_login{
        max-width: 200px;
        height: 55px;
        font-size: var(--fonte-texto);
    }
}


